#valine-vuepress-comment {
  margin: 0px 14px;
  padding: 14px 40px 32px;
}

img[alt=符栋栋的头像] {
  width: 40px;
  border-radius: 8px;
}

.vpower.txt-right {
  display: none !important;
}

@media (max-width: 800px) {
  #valine-vuepress-comment {
    margin: 0px 14px;
    padding: 14px 5px 32px;
  }
}
